/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: url(../asset/cover_page.jpg)no-repeat fixed center center / cover;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 2rem;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    color: white;
}

img {
    cursor: pointer;
}

/*Thème */

:root {
    --color-header-: #6fa8e9;
    --color-main-: #d3741b;
}

body {
    line-height: 1.6;
    letter-spacing: 0.1rem;
}

header {
    background-color: var(--color-header-);
    max-width: 105rem;
    padding: 0;
    margin: 2.5rem auto;
    border-radius: 12rem;
}

h1 {
    font-size: 5rem;
    font-style: italic;
    text-align: center;
}

main {
    padding: 0.5rem;
    max-width: 95rem;
    height: 97rem;
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    background-color: #e6e3e3;
}

h2 {
    background-color: var(--color-header-);
    text-align: center;
    margin: 1rem auto;
    max-width: 80rem;
    border-radius: 2rem;
    font-size: 3rem;
}

#Game {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin: 0 auto;
    min-width: auto;
    height: 70rem;
    perspective: 100rem;
}

.medium {
    display: block;
    margin: 0.5rem;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.hard {
    display: block;
    margin: 0.5rem;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.easy {
    display: block;
    width: calc(25% - 1rem);
    height: calc(28% - 2rem);
    margin: 0.5rem;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte {
    display: block;
    width: calc(20% - 1rem);
    height: calc(30% - 1rem);
    margin: 0.5rem;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte.flip {
    transform: rotateY(180deg);
}

.recto,
.verso {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*.noir {
    background-color: #000;
}

.verso {
    transform: rotateY(180deg);
}

.start {
    display: block;
    margin: 0.5rem auto;
    height: 8rem;
    width: 16rem;
    background-color: var(--color-main-);
    font-size: 3rem;
}

.starting {
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: -4%;
    top: 45%;
    right: 0;
    bottom: 0;
    width: 65rem;
    height: 15rem;
}

.starting-content {
    background-image: url(../asset/cover_popup.png);
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    width: 70rem;
    height: 20rem;
}

.starting-content p {
    font-size: 2rem;
    text-align: center;
    color: var(--color-main-);
    background-color: var(--color-header-);
    border-radius: 2rem;
    border: 1px solid black;
}

.ending {
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: -4%;
    top: 45%;
    right: 0;
    bottom: 0;
    width: 65rem;
    height: 15rem;
}

.ending-content {
    background-image: url(../asset/cover_popup.png);
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    width: 70rem;
    height: 20rem;
}

.ending-content p {
    font-size: 2rem;
    text-align: center;
    color: var(--color-main-);
    background-color: var(--color-header-);
    border-radius: 2rem;
    border: 1px solid black;
}

.timer {
    display: block;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    left: 5rem;
    top: 20rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: var(--color-header-);
}

.timer p {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.moves {
    display: block;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    left: 5rem;
    top: 30rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: var(--color-header-);
}

.moves p {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.easygame {
    display: block;
    position: fixed;
    margin: 0 auto;
    right: 5rem;
    top: 20rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: #34db0b;
    cursor: pointer;
}

.mediumgame {
    display: block;
    position: fixed;
    margin: 0 auto;
    right: 5rem;
    top: 30rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: #db920b;

}

.hardgame {
    display: block;
    position: fixed;
    margin: 0 auto;
    right: 5rem;
    top: 40rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: #db0b0b;

}

@media(min-width: 768px) and (max-width: 1388px) {
    main {
        margin: 4rem auto;
        margin-top: 8rem;
        max-width: 61%;
        height: 68rem;
    }

    h2 {
        background-color: var(--color-header-);
        text-align: center;
        margin: 0.5rem auto;
        font-size: 2rem;
    }

    #Game {
        height: 51rem;
    }

    .starting-content {
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 70rem;
        height: 20rem;
    }

    .ending-content {
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 70rem;
        height: 20rem;
    }

    .timer {
        display: block;
        position: fixed;
        z-index: -1;
        margin: 0 auto;
        left: 2rem;
        top: 20rem;
        width: 12rem;
        height: 8rem;
        border-radius: 3rem;
        background-color: var(--color-header-);
    }

    .timer p {
        font-size: 1.8rem;
        margin: 1rem auto;
    }

    .moves {
        display: block;
        position: fixed;
        z-index: -1;
        margin: 0 auto;
        left: 2rem;
        top: 30rem;
        width: 12rem;
        height: 8rem;
        border-radius: 3rem;
        background-color: var(--color-header-);
    }

    .moves p {
        font-size: 1.8rem;
        margin: 1rem auto;
    }

    .easygame {
        display: block;
        position: fixed;
        margin: 0 auto;
        right: 2rem;
        top: 20rem;
        width: 12rem;
        height: 8rem;
        border-radius: 3rem;
        background-color: #34db0b;
        cursor: pointer;
    }

    .mediumgame {
        display: block;
        position: fixed;
        margin: 0 auto;
        right: 2rem;
        top: 30rem;
        width: 12rem;
        height: 8rem;
        border-radius: 3rem;
        background-color: #db920b;
    }

    .hardgame {
        display: block;
        position: fixed;
        margin: 0 auto;
        right: 2rem;
        top: 40rem;
        width: 12rem;
        height: 8rem;
        border-radius: 3rem;
        background-color: #db0b0b;
    }

    @media(max-width: 950px) {
        main {
            margin: 4rem auto;
            margin-top: 8rem;
            max-width: 61%;
            height: 57rem;
        }

        #Game {
            height: 41rem;
        }
    }

}

@media(min-width: 426px) and (max-width: 767px) {

    main {
        margin: 4rem auto;
        margin-top: 8rem;
        height: 56rem;
        width: 64rem;
    }

    h2 {
        background-color: var(--color-header-);
        text-align: center;
        margin: 0.5rem auto;
        font-size: 2rem;
    }

    #Game {
        height: 41rem;
    }

    .timer {
        left: 5rem;
        top: 75rem;
        width: 10rem;
        height: 6rem;
    }

    .timer p {
        margin: 1rem auto;
        font-size: 1.5rem;
    }

    .moves {
        left: 5rem;
        top: 82rem;
        width: 10rem;
        height: 6rem;
    }

    .moves p {
        margin: 1rem auto;
        font-size: 1.5rem;
    }

    .easygame {
        margin: 0 auto;
        right: 33rem;
        top: 78rem;
        width: 14rem;
        height: 8rem;
    }

    .mediumgame {
        margin: 0 auto;
        right: 17rem;
        top: 78rem;
        width: 14rem;
        height: 8rem;
    }

    .hardgame {
        margin: 0 auto;
        right: 1rem;
        top: 78rem;
        width: 14rem;
        height: 8rem;
    }

    @media(max-width: 635px) {
        main {
            margin: 4rem auto;
            margin-top: 8rem;
            height: 44rem;
            width: 39rem;
        }

        h2 {
            font-size: 1.5rem;
            width: 100%;
        }

        #Game {
            height: 32rem;
        }

        .timer {
            right: 30rem;
            top: 11.5rem;
            width: 10rem;
            height: 6rem;
        }

        .moves {
            right: -20rem;
            top: 11.5rem;
            width: 10rem;
            height: 6rem;
        }

        .easygame {
            margin: 0 auto;
            left: 5rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }

        .mediumgame {
            margin: 0 auto;
            left: 18.5rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }

        .hardgame {
            margin: 0 auto;
            left: 31rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }
    }
}

@media(max-width: 425px) {
    main {
        margin: 4rem auto;
        margin-top: 8rem;
        height: 44rem;
        width: 39rem;
    }

    h2 {
        font-size: 1.5rem;
        width: 100%;
    }

    #Game {
        height: 32rem;
    }

    .timer {
        left: 10rem;
        top: 11.5rem;
        width: 10rem;
        height: 6rem;
    }

    .moves {
        left: 25rem;
        top: 11.5rem;
        width: 10rem;
        height: 6rem;
    }

    .easygame {
        margin: 0 auto;
        right: 29rem;
        top: 65rem;
        width: 10rem;
        height: 8rem;
    }

    .mediumgame {
        margin: 0 auto;
        right: 16rem;
        top: 65rem;
        width: 10rem;
        height: 8rem;
    }

    .hardgame {
        margin: 0 auto;
        right: 3rem;
        top: 65rem;
        width: 10rem;
        height: 8rem;
    }

    @media(max-width: 425px) {
        main {
            margin: 4rem auto;
            margin-top: 8rem;
            height: 40rem;
            width: 35rem;
        }

        h2 {
            font-size: 1.5rem;
            width: 100%;
        }

        #Game {
            height: 28rem;
        }

        .timer {
            left: 4rem;
            top: 11.5rem;
            width: 10rem;
            height: 6rem;
        }

        .timer p{
            font-size: 1.8rem;
        }

        .moves {
            right: 4rem;
            top: 11.5rem;
            width: 10rem;
            height: 6rem;
        }

        .moves p {
            margin: 1rem auto;
            font-size: 1.6rem;
        }

        .easygame {
            margin: 0 auto;
            right: 25rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }

        .mediumgame {
            margin: 0 auto;
            right: 14rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }

        .hardgame {
            margin: 0 auto;
            right: 3rem;
            top: 65rem;
            width: 10rem;
            height: 8rem;
        }
    }
}

@media(max-width: 760px){
    
    .starting-content {
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 21rem;
    }
    
    .ending-content {
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 21rem;
    }
    
    @media(max-width: 595px) {
        .starting {
            display: none;
            position: fixed;
            z-index: 1;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            left: -10rem;
            top: 45%;
            right: 0;
            bottom: 0;
            width: 65rem;
            height: 15rem;
        }
        
        .ending {
            display: none;
            position: fixed;
            z-index: 1;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            left: -10rem;
            top: 45%;
            right: 0;
            bottom: 0;
            width: 65rem;
            height: 15rem;
        }
    }
}