/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: url(../asset/cover_page.jpg)no-repeat fixed center center / cover;
}

Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 2rem;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
    color: white;
}

img {
    cursor: pointer;
}

/*Thème */

:root {
    --color-header-: #6fa8e9;
    --color-main-: #d3741b;
}

body {
    line-height: 1.6;
    letter-spacing: 0.1rem;
}

header {
    background-color: var(--color-header-);
    max-width: 105rem;
    padding: 0;
    margin: 2.5rem auto;
    border-radius: 12rem;
}

h1 {
    font-size: 5rem;
    font-style: italic;
    text-align: center;
}

main {
    padding: 0.5rem;
    max-width: 95rem;
    min-height: 97rem;
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    background-color: #e6e3e3;
}

h2 {
    background-color: var(--color-header-);
    text-align: center;
    margin: 1rem auto;
    max-width: 80rem;
    border-radius: 2rem;
    font-size: 3rem;
}

#Game {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin: 0 auto;
    min-width: auto;
    height: 70rem;
    perspective: 1000px;
}


.carte {
    width: calc(25% - 10px);
    height: calc(30% - 10px);
    margin: 5px;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carte.flip {
    transform: rotateY(180deg);
}

.recto,
.verso {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2rem;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

*.noir {
    background-color: #000;
}

.verso {
    transform: rotateY(180deg);
}

.start {
    display: block;
    margin: 0.5rem auto;
    height: 8rem;
    width: 16rem;
    background-color: var(--color-main-);
    font-size: 3rem;
}

.starting{
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: -4%;
    top: 45%;
    right: 0;
    bottom: 0;
    width: 65rem;
    height: 15rem;
}

.starting-content{
    background-image: url(../asset/cover_popup.png);
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    width: 70rem;
    height: 20rem;
}

.starting-content p{
    font-size: 2rem;
    text-align: center;
    color: var(--color-main-);
    background-color: var(--color-header-);
    border-radius: 2rem;
    border: 1px solid black;
}

.ending{
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: -4%;
    top: 45%;
    right: 0;
    bottom: 0;
    width: 65rem;
    height: 15rem;
}

.ending-content{
    background-image: url(../asset/cover_popup.png);
    margin: 0 auto;
    border: 0.5rem solid silver;
    border-radius: 2rem;
    width: 70rem;
    height: 20rem;
}

.ending-content p{
    font-size: 2rem;
    text-align: center;
    color: var(--color-main-);
    background-color: var(--color-header-);
    border-radius: 2rem;
    border: 1px solid black;
}

.timer{
    display: block;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    left: 10rem;
    top: 20rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: var(--color-header-);
}

.timer p{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.moves{
    display: block;
    position: fixed;
    z-index: -1;
    margin: 0 auto;
    left: 10rem;
    top: 30rem;
    width: 16rem;
    height: 8rem;
    border-radius: 3rem;
    background-color: var(--color-header-);
}
.moves p{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
 } 

 @media screen and (max-width:1520px){
    .timer{
        display: none;
    }
    .moves{
        display: none;
    }
 }

 @media screen and (max-width: 780px) {
    .starting{
        display: none;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        left: -0%;
        top: 45%;
        right: 0;
        bottom: 0;
        width: 65rem;
        height: 15rem;
    }
    
    .starting-content{
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 24rem;
    }
    
    .ending{
        display: none;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        left: -0%;
        top: 45%;
        right: 0;
        bottom: 0;
        width: 65rem;
        height: 15rem;
    }
    
    .ending-content{
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 24rem;
    }
    
 }

 @media screen and (max-width: 420px) {
    .starting{
        display: none;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        left: -28%;
        top: 45%;
        right: 0;
        bottom: 0;
        width: 65rem;
        height: 15rem;
    }
    
    .starting-content{
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 24rem;
    }
    
    .ending{
        display: none;
        position: fixed;
        z-index: 1;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        left: -0%;
        top: 45%;
        right: 0;
        bottom: 0;
        width: 65rem;
        height: 15rem;
    }
    
    .ending-content{
        background-image: url(../asset/cover_popup.png);
        margin: 0 auto;
        border: 0.5rem solid silver;
        border-radius: 2rem;
        width: 35rem;
        height: 24rem;
    }
    
 }